<div class="page-header">
    <h2>Products</h2>
</div>
<table id="products" class="table table-hover">
	<thead>
        <tr>
            <th>Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each products}}
            <tr>
                <td>{{name}}</td>
                <td>{{quantity}}</td>
                <td>{{price}}</td>
                <td></td>
                <td><a href="/products/{{_id}}">Edit</a></td>
                <td><a class="delete" href="#">Delete</a></td>
            </tr>
        {{/each}}
    </tbody>
</table>