<script type="text/javascript" src="/app/modules/products.js"></script>

<div class="page-header">
    <h2>Products</h2>
</div>
<table class="products table table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>111</td>
            <td>Garden Spade</td>
            <td>5</td>
            <td>$20</td>
            <td><a href="/products/1">Edit</a></td>
            <td><a class="delete" href="#">Delete</a></td>
        </tr>
        <tr>
            <td>222</td>
            <td>Tomato seed packet</td>
            <td>20</td>
            <td>$0.75</td>
            <td><a href="/products/2">Edit</a></td>
            <td><a class="delete" href="#">Delete</a></td>
        </tr>
        <tr>
            <td>333</td>
            <td>Pitchford</td>
            <td>3</td>
            <td>$45</td>
            <td><a href="/products/3">Edit</a></td>
            <td><a class="delete" href="#">Delete</a></td>
        </tr>
        <tr>
            <td>444</td>
            <td>Machete</td>
            <td>3</td>
            <td>$35</td>
            <td><a href="/products/4">Edit</a></td>
            <td><a class="delete" href="#">Delete</a></td>
        </tr>
    </tbody>
</table>