<script type="text/javascript" src="/app/modules/products.js"></script>

<div class="page-header">
    <h2>Products</h2>
</div>
<table id="products" class="table table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody></tbody>
</table>